{
  {
  - $highlightColor: =.Site.Params.style.vars.highlightColor | default (.Site.Params.highlightColor | default "#e22d30") -
 }
}

 {
  {
  - $fontSans: =`"Open Sans", Helvetica, Arial, sans-serif` -
 }
}

 {
  {
  - $fontMono: =`SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace` -
 }
}

 {
  {
  - $fontFamilyPrimary: =.Site.Params.style.vars.fontFamilyPrimary | default $fontSans -
 }
}

 {
  {
  - $fontFamilySecondary: =.Site.Params.style.vars.fontFamilySecondary | default $fontMono -
 }
}

html {
 font-size: 100%;
 -ms-text-size-adjust: none;
 -webkit-text-size-adjust: none;
}

body {
 line-height: 1.5;
 margin: 0px;
 background: rgb(230, 230, 230);

 font-family: {
   {
   $fontFamilyPrimary
  }
 }

 ;
 margin: 0px
}

h1 {
 font-size: 32px;
 text-align: center;
}

a {
 color: #e22d30;
 text-decoration: none;
}


a:hover,
.authorbox__description a:hover {
 color: #C70039;
}

header {
 font-weight: 900;
 margin: 0;
 padding: 0;
}

nav {
 display: flex;
 justify-content: center;
 margin: auto;

}

img {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

article {
 order: 1;
 max-width: 950px;
 margin: auto;
}

ul {
 display: block;
 list-style-type: disc;
}

body.dark-mode,
body.dark-mode main * {
 background: rgb(0, 0, 0);
 color: #f5f5f5;
}

table {
 border-collapse: collapse;
 width: 100%;
}

td,
th {
 border: 1px solid grey;
 text-align: center;
 padding: 2px;
}

td:hover,
th:hover {
 background-color: grey;
}

/*Logo*/

.logo__title {
 font-size: 150px;
 line-height: 1;
 display: flex;
 justify-content: center;
}

.menu__item,
.btn {
 transition: background-color .25s ease-out;
 font-size: 17px;
 /*border-left: 1px solid;*/
 border: 1px dotted grey;
 float: left;
}

.menu__btn {
 display: block;
 width: 100%;
 padding: 0;
}

.menu__list {
 list-style: none;
 padding: 0;
 justify-content: center;
 float: left;
}

.menu__item:hover {
 background: grey;
}

.menu__link {
 display: block;
 padding: .625rem .9375rem;
 font-weight: 700;
}

.nav {
 margin: auto;
 padding: 2rem 2rem;
 text-align: center;
 align-content: center;
}

.lang-switcher {
 padding-left: 10px;
}