<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	{{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}
	{{- with .OutputFormats.Get "rss" }}
	{{ printf `
	<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	{{- if not .Site.IsServer }}
	{{- if hasPrefix .Site.GoogleAnalytics "G-" }}
	{{ template "_internal/google_analytics.html" . }}
	{{- else }}
	{{ template "_internal/google_analytics_async.html" . }}
	{{- end }}
	{{- end }}
</head>

<body>
	<header>
		{{ partial "header.html" . }}
	</header>
	<nav>
		<ul class="menu__list"> {{ partial "nav.html" . }}</ul>
		<div class="lang-switcher" style="justify-content:right; align-content:right;text-align: center ; 
 color: white;"> Switch to: <img src="/images/lang-switch.png">{{ partial "langs.html" .}}</div>
	</nav>
	<div class="content">
		{{ block "main" . }}
		{{ end }}
	</div>
</body>

</html>
