<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Site.Language.Lang }}">

<head itemscope itemtype="{{ .Site.BaseURL }}">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
 {{ partial "title" . }}
 {{ partial "meta" . }}
 {{ partial "links" . }}
 {{ partial "language" . }}
 {{ partial "scripts" . }}
</head>

<body>
 <header>
  <a id="top"></a>
  {{ partial "header" . }}
 </header>
 <nav>
  {{ partial "logo" . }}
  <ul class="menu__list">
   {{ partial "nav" . }}
  </ul>
  {{ partial "langmenu" .}}
  {{ partial "theme" .}}
 </nav>
 <main id="main">
  <article>
   <div itemscope itemtype="https://schema.org/Article">
    {{ block "main" . }}
    {{ end }}
   </div>
  </article>
 </main>
 <footer>
  <div id="foo">{{ partial "footer"}}</div>
 </footer>
 {{ partial "js"}}
</body>

</html>