<div class="copyright" style="text-align: left;font-size:9px;position: relative;top: 100px">
    <hr>
    <div style="float: left;font-size: 15px;">
        ©&nbsp;
    </div>
    <p>
        Diablo 2 Asgard PvP Realm is an unofficial server of Diablo 2: Lord of Destruction with absolutely no commercial elements. All trademarks referenced herein are the properties of their respective owners. Asgard PvP Realm requires a legitimate copy of Diablo® II: Lord of Destruction®.
    </p>
    <hr>
    <pre>
    Battle.net®
    ©1996 - 2014 Blizzard Entertainment, Inc. All rights reserved. Battle.net and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.
    </pre>
    <pre>
    BLIZZARD ENTERTAINMENT®
    Blizzard Entertainment is a trademark or registered trademark of Blizzard Entertainment in the U.S. and/or other countries. All rights reserved.
    </pre>
    <pre>
    Diablo® II
    ©2000 Blizzard Entertainment, Inc. All rights reserved. Diablo and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.
    </pre>
    <pre>
    Diablo® II: Lord of Destruction®
    ©2001 Blizzard Entertainment, Inc. All rights reserved. Diablo, Lord of Destruction and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.
    </pre>
    <hr>
</div>