<!-- smth -->
<script>
(function(d, e) { d[e] = d[e].replace("no-js", "js"); })(document.documentElement, "className");
</script>
<!-- /smth -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function(d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter45176040 = new Ya.Metrika({
                id: 45176040,
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true
            });
        } catch (e) {}
    });

    var n = d.getElementsByTagName("script")[0],
        x = "https://mc.yandex.ru/metrika/watch.js",
        s = d.createElement("script"),
        f = function() { n.parentNode.insertBefore(s, n); };
    for (var i = 0; i < document.scripts.length; i++) {
        if (document.scripts[i].src === x) { return; }
    }
    s.type = "text/javascript";
    s.async = true;
    s.src = x;

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<!--
<noscript>
    <div>
        <img src="https://mc.yandex.ru/watch/45176040" style="position:absolute; left:-9999px;" alt="" />
    </div>
</noscript>
-->
<!-- /Yandex.Metrika counter -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6MNNH4HR35">
</script>
<script>
window.dataLayer = window.dataLayer || [];

function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());

gtag('config', 'G-6MNNH4HR35');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->