<hr style="margin: 50px -30px auto 10px;padding: 0;height: 50px;border: none;border-bottom: 2px solid #1f1209;box-shadow: 0 20px 20px -20px #333;width: 85%;color: red;">
<p style="text-align:center;">
    {{ i18n "gl" }}
</p>
<hr style="margin: -30px auto 10px;padding: 0;height: 50px;border: none;border-bottom: 2px solid #1f1209;box-shadow: 0 20px 20px -20px #333;width: 85%;color: red;">
<p style="text-align:center;">
    {{ i18n "bw" }}
</p>
<hr style="margin: -30px auto 10px;padding: 0;height: 50px;border: none;border-bottom: 2px solid #1f1209;box-shadow: 0 20px 20px -20px #333;width: 85%;color: red;">
<p style="text-align:center;">
    <a href="https://forums.d2jsp.org/user.php?i=1107837" rel="alternate" target="_blank"> © Progon_mulov</a>
</p>
<hr style="margin: -30px auto 40px;padding: 0;height: 50px;border: none;border-bottom: 2px solid #1f1209;box-shadow: 0 20px 20px -20px #333;width: 85%;color: red;">